.footer{
    height: 230px;
    width: 100%;
    background-color: rgba(235, 238, 239, 1);
    display: flex;
    padding: 0px 150px;
}

.footer-contents{
   margin: 20px 0px 10px 30px ;
   top: 0px;
}

.footer-contents h1{
    font-weight: bold;
    margin-bottom: 10px;
}

.social-media{
    display: flex;
    flex-direction: column;
}

.social-media div{
    display: flex;
}

.social-media div a{
    width: 50px;
    height: 50px;
}

.social-media h1{
    margin: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}